@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: Oxygen, sans-serif;
}

h2,
h3 {
	font-family: 'Crimson Text', sans-serif;
}
